# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# FVM
.fvm/

# IDE/project-local metadata
.idea/
*.iml

# Platform generated artifacts
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/

# OS/editor noise
.DS_Store
*.swp
